{% extends 'layout.twig' %} {% block body %}
<div class="container">
  {% if visualization_code == 1 %}
  <p> GRAPH ! </p>
  <img src="/image/graph/{{code_sentence}}" class="img-thumbnail mx-auto d-block" /> {% elseif visualization_code == 2 %}
  <p> BOX ! </p>
  <img src="/image/drs/{{code_sentence}}" class="img-thumbnail mx-auto d-block" /> {% endif %}
  <div class="container">
    <div class="jumbotron mt-3">
      <h1>Question n° {{number_test}}</h1>
      <form action="#" class="" method="POST">
        <fieldset class="form-group">
          <legend>{{question}}</legend>
          <div class="form-check">
            <label class="form-check-label">
              <input required type="radio" class="form-check-input" name="answer" value="1">{{answer1}}
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="answer" value="2">{{answer2}}
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="answer" value="3">{{answer3}}
            </label>
          </div>
        </fieldset>
        {% if visualization_code == 1 %}
        <input type="hidden" name="representationtype" value="graph"> {% else %}
        <input type="hidden" name="representationtype" value="drs"> {% endif %}
        <input type="hidden" name="code_question" value=question_code>
        <button class="btn btn-primary" type="submit">Next question</button>
      </form>
    </div>
  </div>
</div>
{% endblock body %}