{% extends 'layout.twig' %} {% block body %}
<div class="container">
  <h1>Question n° {{number_test}}</h1>
  <form action="#" class="" method="POST">
    <fieldset class="form-group">
      <legend>{{question}}</legend>
      <div class="form-check">
          <label class="form-check-label">
            <input required type="radio" class="form-check-input" name="answer">{{answer1}}
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="answer">{{answer2}}
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="answer">{{answer3}}
          </label>
        </div>
    </fieldset>
    <img src="/image/graph/{{code_sentence}}"/>
    <button class="btn btn-primary" type="submit">Next question</button>
  </form>
</div>
{% endblock body %}